# Week3 Assignment

Scrape the table Wikipedia page: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

<font color="red" size=6>Import Libraries</font>

In [1]:
!pip install bs4
!pip install lxml
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import lxml.html as lh

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.1)

<font color="red" size=6>Scrape raw table</font>

In [2]:
#scrape raw table
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

source = requests.get(url)
soup = bs(source.text,'html.parser')

table = soup.find('table', attrs={'class':'wikitable sortable'})
# table_rows = table.find_all('tr')
df_raw = pd.read_html(str(table))[0]
df_raw

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

<font color="red" size=6>Remove item in df which Borough are Not assigned</font>

In [3]:
#remove item in df which Borough = "Not assigned"
df_post = df_raw[df_raw['Borough'] !='Not assigned']
df_post

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

<font color="red" size=6>Print number of rows</font>

In [4]:
print ("There are {} rows".format(df_post.shape[0]))

There are 103 rows